<!DOCTYPE html>
<html>
<head>
    <title>Flask App with Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Flask App with Bootstrap</h1>
        <form method="post">
            <div class="form-group">
                <label for="parametre">Paramètre :</label>
                <input type="text" name="parametre" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
        
        <div class="mt-4">
            {% if image_path %}
                <img src="{{ url_for('static', filename=image_path) }}" alt="Ca marche pas">
            {% endif %}
            {% if dataframe %}
                {{ dataframe | safe }}
            {% endif %}
        </div>
    </div>
</body>
</html>
